@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
.container-styling {
  border-radius: 25px;
  background-color: #212222;
  transition: 0.6s;
}
.img-container {
  width: 100%;
}
.img-style {
  width: 95%;
}
body {
  background-color: #0f0f10;
}
p {
  font-size: 20px;
  color: #e3eaec;
  text-align: left;
  font-size: 25px;
}
h1 {
  color: #e3eaec;
  text-align: center;
  transition: 0.5s;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 100px;
}
.blue {
  background: #00f2fe;
}
.red {
  background: #dd3f31;
}
.pink {
  background: #ff0066;
}
.dark {
  background: #0f0f10;
}
.white {
  background: #f0f4f9;
}
.gradient {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
}
.layer2-gradient {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 148px;
}

.wave .shape-fill {
  fill: #00ff88;
}
.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.logo {
  color: #ffffff;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.15s;
}

.nav-item .nav-link:hover {
  color: #fe4066;
}

.header-btn {
  color: #ffffff;
  border-radius: 30px;
  background-color: gray;
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  padding: 7px 22px;
  transition: 0.5s;
}

.header-btn:hover {
  background-color: #fe4066;
  cursor: pointer;
}

.navbar-scroll {
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link {
  color: black;
}

.navbar-scroll .header-btn {
  color: #ffffff;
  background-color: #fe4066;
}

.navbar-scroll .logo {
  color: #000;
  font-weight: 500;
}
.gradient-style2 {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
.gradient-layer3 {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #16a085 0%, #08aeea 100%);
}
